<div class="details">
    <% results.forEach(function(value, index){ %>
        <a href="#listing/<%= value.listing_id %>" >
    <img class="pics" src="<%= value.Images[0].url_570xN %>" />
    <div class="title"><%= value.title %></div>
    <div class="views">Views: <%= value.views %></div>
    <div class="quantity">Quantity: <%= value.quantity %></div>
    <div class="price">$<%= value.price %> <%= value.currency_code %></div>
    <div class="tags">Tags: <%= value.views %></div>
        </a>
    <% }) %>
</div>